.navbar {
    background: linear-gradient(135deg, #d4d4d4, #b0bed1, #8c9cb3);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    min-height: 100vh;
    width: 16rem;
    position: fixed;
    margin-top: -0.5rem;
}

ul {
    display: flex;
    flex-direction: column;
    height: inherit;
}

ul, li, a {
    color: inherit;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

a {
    display: block;
}

a {
    padding: 1rem 2rem;
    border-bottom: 1px solid white;
}

a:hover {
    color: #424242;
    background-color: #b0bed1;
}

.testimonial-grid {
    margin-left: 18rem;
    transition: margin-left 0.3s ease-in-out;
}

.container {
    margin-left: 30rem;
    transition: margin-left 0.3s ease-in-out;
}

.nav-link.active {
    color: #424242;
    background-color: #8c9cb3;
}